* {
    margin: 0;
    padding: 0;
}
#root {
    height: 100vh;
    box-sizing: border-box;
    overflow-y: hidden;
    background: linear-gradient(to bottom, #f1f1f1, #ececec);
}
*::-webkit-scrollbar {
    width: 5px;
    background-color: #dde1e3;;
}
*::-webkit-scrollbar-thumb {
    width: 5px;
    height: auto;
    background-color: #a79adc;
}
